* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Graphik";
  src: url("../fonts/Graphik-Regular.eot");
  src: url("../fonts/Graphik-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Graphik";
  src: url("../fonts/Graphik-Bold.eot");
  src: url("../fonts/Graphik-Bold.woff") format("woff");
  font-weight: bold;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Graphik", Arial, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
h1,
p {
  margin: 0;
  padding: 0;
}

/*
* Tipografia ----------------------------------------------------------------------------
*/

.title {
  font-size: 74px;
  letter-spacing: 0.2px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
}
.title-regular {
  font-size: 48px;
  font-weight: 400;
}
.subtitle {
  font-weight: regular;
  font-size: 28px;
}
.subtitle-medium {
  font-size: 18px;
}

/*
* Espaciado   ------------------------------------------------------------------------------
*/
.p {
  padding: 3rem;
}
.mt-m {
  margin-top: 3rem;
}
.mb-m {
  margin-bottom: 3rem;
}

/*
* Alineación
*/

.fixed {
  position: fixed;
}

.container {
  display: flex;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.row {
  flex-direction: row;
}

/*
* Colores de fondo   ------------------------------------------------------------------------------
*/
.bg-dark {
  background-color: #0e0e0e;
  color: white;
}
.bg-secondary {
  background-color: #f15b07;
}
.bg-secondary a {
  color: white;
}

/*
* Contenedores   ------------------------------------------------------------------------------
*/

.container {
  max-width: 1280px;
  min-width: 960px;
  height: 100%;
  margin: 0 auto;
  border: 1px solid red;
}

/*
* Botones   ------------------------------------------------------------------------------
*/
.cta-btn {
  border-radius: 35px;
  width: 250px;
  color: white;
}
.cta-btn a {
  text-align: center;
  display: block;
  padding: 1rem 2rem;
  font-size: 20px;
}

/*
* Navegacion  ------------------------------------------------------------------------------
*/
.main-top {
  width: 100%;
  height: 135px;
  display: flex;
  border: 1px solid greenyellow;
  z-index: 10;
}

.header {
  display: flex;
  width: 100%;
  position: fixed;
  height: 150px;
}
.menu {
  display: flex;
  width: 100%;
}
.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
}
.navigation-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-item a {
  padding: 1rem;
  color: white;
}
.navigation-item a:hover {
  padding: 1rem;
  color: white;
  background-color: red;
}

/*
* logo   ------------------------------------------------------------------------------
*/
.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  width: 200px;
  font-family: "Dancing Script", cursive;
}

/*
* Hero
* ------------------------------------------------------------------------------
*/
.fix-top {
  top: 135px;
  position: relative;
}
.hero-top {
  border: 1px solid lightsalmon;
  position: relative;
  height: 70vh;
}
.hero-background {
  background: url(../img/bg.jpg) no-repeat;
  background-size: cover;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  border: 1px solid rebeccapurple;
}
.hero-background:after,
.hero-background:before {
  content: "";
  background: rgba(14, 14, 14, 0.3);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
}

.hero-background svg {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 150px;
  display: block;
  fill: #0e0e0e;
}

/*
* Seccion Open Bar
*/

.open-bar {
  text-align: center;
}

/*
* Card
*/

.card {
  display: flex;
  gap: 20;
  width: 33%;
  border: 1px solid lime;
}
.card-img {
  width: 150px;
}
.content-card {
  width: 280px;
  padding: 1rem;
  letter-spacing: 0.01rem;
}
