* {
  box-sizing: border-box;
}
.dev * {
  border: 1px solid gold;
}

@font-face {
  font-family: "Graphik";
  src: url("../fonts/Graphik-Regular.eot");
  src: url("../fonts/Graphik-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Graphik";
  src: url("../fonts/Graphik-Bold.eot");
  src: url("../fonts/Graphik-Bold.woff") format("woff");
  font-weight: bold;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Graphik", Arial, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

form,
li,
ul,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

/*
* Tipografia ----------------------------------------------------------------------------
*/

.title {
  font-size: 74px;
  letter-spacing: 0.2px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
}
.title-small {
  font-size: 20px;
}
.title-regular {
  font-size: 43px;
  font-weight: 400;
  position: relative;
  z-index: 10;
  color: #374754;
}
.bg-light-blue .title-regular {
  color: white;
}
.subtitle {
  font-weight: regular;
  font-size: 28px;
}
.subtitle-medium {
  font-size: 18px;
}
.subtitle-small {
  font-size: 16px;
}
.title-big {
  font-size: 74px;
  font-weight: bold;
}
.bold {
  font-weight: bold;
}
.text-center {
  text-align: center;
}

/*
* Espaciado   ------------------------------------------------------------------------------
*/
.p {
  padding: 3rem;
}
.m {
  margin: 3rem;
}
.m-small {
  margin: 1rem;
}
.m-top {
  margin-top: 6rem !important;
}
.pt-s {
  padding-top: 1.5rem;
}
.pb-s {
  padding-bottom: 1.5rem;
}

.mt-m {
  margin-top: 3rem;
}
.mb-m {
  margin-bottom: 3rem;
}

/*
* Alineación
*/

.fixed {
  position: fixed;
}
.flex {
  display: flex;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.center-items {
  align-items: center;
}
.center-content {
  justify-content: center;
}
.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}
/*
* Colores de fondo   ------------------------------------------------------------------------------
*/
.bg-light {
  background-color: #fff;
  color: #374754;
}
.bg-dark {
  background-color: #0e0e0e;
  color: white;
}
.bg-secondary {
  background-color: #f15b07;
}
.bg-green {
  background-color: #2dc071;
}
.bg-blue {
  background-color: #2091f9;
  color: white;
}
.bg-light-blue {
  background-color: #252b42;
}
.bg-secondary a,
.bg-green a,
.bg-blue a {
  color: white;
}
.text-gray {
  color: #374754;
}

.text-blue,
.text-blue a {
  color: #2091f9;
}
.text-white {
  color: white;
}
/*
* Contenedores   ------------------------------------------------------------------------------
*/

.container {
  display: flex;
  max-width: 1280px;
  min-width: 960px;
  height: 100%;
  margin: 0 auto;
}
.container-medium {
  display: flex;
  width: 100%;
  max-width: 1280px;
  min-width: 960px;
  height: 100%;
  margin: 0 auto;
}
.w-3 {
  width: 33%;
}
.w-25 {
  width: 25%;
}
.w-4 {
  width: 40%;
}
.w-7 {
  width: 60%;
}

/*
* Botones   ------------------------------------------------------------------------------
*/
.cta-btn,
.send-btn {
  border-radius: 35px;
  width: 250px;

  font-weight: bold;
}
.send-btn {
  padding: 1rem;
}
.cta-btn a {
  text-align: center;
  display: block;
  padding: 1rem 2rem;
  font-size: 20px;
}

.play-button img {
  width: 120px;
}

/*
* Formulario   ------------------------------------------------------------------------------
*/
.ipt {
  padding: 1rem;
  border: none;
  border-radius: 30px;
  background: #f5f5f5;
  border: 1px solid #e8e8e8;
  margin-top: 1rem;
}

/*
* Card
* ------------------------------------------------------------------------------
*/

.card {
  display: flex;
}
.rounded-card {
  border-radius: 10px;
}
.card-img {
  width: 150px;
}
.card-wrapper {
  height: 250px;
}

.card-img-full {
  width: 100%;
  object-fit: cover;
}
.content-card {
  width: 280px;
  padding: 1rem;
  letter-spacing: 0.01rem;
}

/*
* Navegacion  ------------------------------------------------------------------------------
*/
.main-top {
  width: 100%;
  height: 135px;
  display: flex;

  z-index: 10;
}

.header {
  display: flex;
  width: 100%;
  position: fixed;
  height: 150px;
}
.menu {
  display: flex;
  width: 100%;
}
.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
}
.navigation-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-item a {
  padding: 1rem;
  color: white;
}
.navigation-item a:hover {
  padding: 1rem;
  color: white;
  background-color: red;
}

/*
* logo   ------------------------------------------------------------------------------
*/
.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  width: 200px;
  font-family: "Dancing Script", cursive;
}

/*
* Hero
* ------------------------------------------------------------------------------
*/
.fix-top {
  top: 135px;
  position: relative;
}
.hero-top {
  position: relative;
  height: 70vh;
}
.hero-background {
  background: url(../img/bg.jpg) no-repeat;
  background-size: cover;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.hero-background:after,
.hero-background:before {
  content: "";
  background: rgba(14, 14, 14, 0.3);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
}

.hero-background svg {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 150px;
  display: block;
  fill: #0e0e0e;
}

/*
* Seccion Open Bar
* ------------------------------------------------------------------------------
*/

.open-bar {
  text-align: center;
}

.hero-open-bar {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/open-bar.jpeg");
  background-position: center;

  width: 70%;
  height: 500px;
}

/*
* Seccion Carta
* ------------------------------------------------------------------------------
*/

.hero-carta .info-carta {
  height: 50vh;
  width: 70%;
}
.hero-carta .img-carta {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/carta.jpeg");
  background-position: center;

  width: 30%;
  height: 250px;
  margin-top: -150px;
}

/*
* Seccion zona-bar
* ------------------------------------------------------------------------------
*/

.zona-bar .info-bar {
  height: 50vh;
  width: 40%;
}
.zona-bar .img-bar {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/bar.jpeg");
  background-position: left bottom;

  width: 60%;
  height: 560px;
}

/*
* Seccion propuesta
* ------------------------------------------------------------------------------
*/
.elements .list {
  padding: 12px 0 0 0;
}

/*
* Seccion Reservas
* ------------------------------------------------------------------------------
*/
.img-small {
  width: 100px;
  height: 50px;
  text-align: center;
}
